<form method="POST" action="/api/login">
	<p>Enter username and password to login</p>
	{{form.csrf_token}}
	<div> {{form.username.label}}: {{form.username()}} </div>
    <div> {{form.password.label}}: {{form.password()}} </div>
    <div> {{form.remember_me.label}}: {{form.remember_me}} </div>
    <div> <input type="submit" value="Login"> </div>
</form>
